

.attendance {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  min-height: 50%;
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  padding: 20px;
}

.container {
  flex: 1;
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr repeat(6, 1fr);
  grid-template-rows: auto repeat(6, 1fr);
  gap: 1px;
  background-color: #ddd;
}

.header {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-slot {
  background-color: #e2e2e2;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.slot {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slot:hover {
  background-color: #c2c2c2;
}

.tracker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 2%;
}

.tracker p {
  margin-left: 20px;
  font-size: 20px;
}

.tracker:hover {
  background-color: #e2e2e2;
}

/* 
progress bar
*/

.child-container {
  display: grid;
  grid-template-columns: repeat(1, 160px);
  grid-gap: 10px;
  padding: 10px;
  margin: auto 0;
}

@media (min-width: 420px) and (max-width: 659px) {
  .child-container {
    grid-template-columns: repeat(2, 160px);
  }
}

@media (min-width: 660px) and (max-width: 899px) {
  .child-container {
    grid-template-columns: repeat(3, 160px);
  }
}

@media (min-width: 900px) {
  .child-container {
    grid-template-columns: repeat(3, 160px);
  }
}

.child-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -5px;
}

.chart li {
  list-style-type: none;
  position: absolute;
}

.child-container .box .chart {
  font-size: 20px;
  line-height: 0px;
  color: #000;
}


.home{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
}
.home .student,.teacher{
  padding: 100px 200px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;

}